* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    height: 100vh;
}

:root {
    --primary-font: "Archivo";
    --cell-size: 200px;
    --player-size: 3.5rem;
    --symbol-size: 5rem;
    --header-size: 5rem;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .5fr 2fr;
}

header {
    grid-area: 1 / 1 / 2 / 4;

    font-size: var(--header-size);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------- Players ---------- */
.player {
    font-size: var(--player-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.symbol {
    font-size: var(--symbol-size);
    font-weight: bolder;
}

#p1 {
    grid-area: 2 / 1 / 3 / 2;
}

#p2 {
    grid-area: 2 / 3 / 3 / 4;
}

/* ----------- Gameboard ---------- */
.center {
    grid-area: 2 / 2 / 3 / 3;  

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    margin: 0 auto;
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 2px solid black;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.restart {
    width: 25%;
    height: 50px;
    font-size: 2rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all .5s ease;
}

.restart:hover {
    color: white;
    background-color: black;
}