* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

:root {
    --primary-font: "Archivo";
    --cell-size: 200px;
    --player-size: 2rem;
    --header-size: 5rem;
}
